<div class="container">
    <h1>Mi Pagina Web</h1>
    <p>Bienvenido/a a mi página web. Aqui encontrarás informacion interesante sobre diversos temas.</p>
    <img src="https://i.imgur.com/14m244W.png" alt="Imagen de ejemplo">
    <h2>Sobre mí</h2>
    <p>¡Hola! soy Nicolas Chaves y me apasiona el mundo de la tecnología. Me encanta aprender y compartir mis conocimientos a traves de esta pagina web.</p>
    <h2>Contenido principal</h2>
    <p>Aqui puedes encontrar articulos, tutoriales y recursos sobre diferentes temas relacionados con Angular. Explora y disfruta del contenido.</p>
  </div>
  