/* Estilos para el componente UserListComponent */

/* Estilos para el título */
h2 {
    color: #25ac4e;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el filtro */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  /* Estilos para la lista de usuarios */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: #61af68;
    padding: 10px;
    border-bottom: 1px solid #000000;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  /* Estilos para los elementos de la lista */
  li span {
    font-weight: bold;
  }
  
  /* Estilos para resaltar los nombres de usuario que coinciden con el filtro */
  li.highlight {
    background-color: #ffc107;
  }
  